footer {
  background-color: #f2f2f2;
  height: 550px;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .container nav {
  display: flex;
  flex-direction: column;
}
footer .container a {
  font-size: 15px;
  line-height: 24px;
  color: #757575;
  margin-bottom: 8px;
}
